<!DOCTYPE html> <html>
<head>
<title>infoabogados</title>
<meta charset="UTF-8">
<!-- <link rel="StyleSheet" href="STYLE MENUU.css" type="text/css"> -->
</head>
<body background="file:///C:/Users/Katherine/Pictures/fondo1.png" bgcolor="FFCECB">

<form><ul id="menuhorizontal">
  
 <li><a href="Inicio">Inicio</a></li>
  <li><a href="Servicios">Servicios</a></li>
  <li><a href="Contactos">Contactos</a></li>
  <li><a href="Ubicación">Ubicación</a></li>
  <button><a routerLink="../iniciar_sesion" id="btninicio">iniciar sesion</a></button>
  <button><a routerLink="../registrarse" id="btninicio"> registro</a></button>
  <!-- <input type="button" id="btninicio" onclick="window.location.href='HTML INICIOO.html';" value="INICIAR SESIÓN" /> -->
  <!-- <input type="button" id="btninicio" onclick="window.location.href='HTML REGISTROO.html';" value="REGISTRARSE" />  -->
  </ul>
  
</form>
</body>
</html>